.app {
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
}

.canvas-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.cell {
  border: 1px solid black;
}

.control {
  display: flex;
  flex-direction: column;
}

button {
  width: 100px;
  margin: 10px;
}
